---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;">
  <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
</p>
{% endif %}

{% assign sorted_talks = site.talks | sort: "date" | reverse %}

<h2>Invited Speaker</h2>
{% for post in sorted_talks %}
  {% if post.type contains "Invited" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Workshops & Minisymposia</h2>
{% for post in sorted_talks %}
  {% if post.type contains "Workshop" or post.type contains "Minisymposium" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Local seminars</h2>
{% for post in sorted_talks %}
  {% if post.type contains "Seminar" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
